@mixin breakpoint-computer {
  @media (min-device-width : 1024px) {

  }  
}

@mixin breakpoint-tablet {
  @media (min-device-width : 768px) and (max-device-width : 1024px) {

  }
}
@mixin breakpoint-phone {
  @media (min-device-width : 320px) and (max-device-width : 480px) {

  }
}

@mixin Fluid {margin:0 auto; max-width:960px;}

@mixin onewidth {
  width:100%;
  max-width:960px;
  margin:0 auto;
}

@mixin twowidth {
  @include onewidth; 
}



/* LAYOUT */
body {margin:0; padding:0;}

#topbar {
  @include Fluid;
  padding:0 20px;
}
#page-wrapper {
  @include Fluid;
  padding:0 20px;
}
#footer {
  @include Fluid;
  padding:0 20px;
}

#main-wrapper {
  @include Fluid; 
}



/* Topbar blocks */
// #topbar #block-block-15 {float:left;}
#topbar {
  #block-mrblocks-site-title {
    padding:0 0;
  }

  // float:left;
  // .block {
    // float:left; 
    // margin-right:20px;
    // padding:15px 20px;

  // }
  // #block-block-17 {
    // padding:15px 20px;
  // }

  // #block-block-15 {
    // padding:15px 20px;
  // }
}

// #topbar #block-block-16,
// #topbar #block-block-17 {
  // float:right; 
  // margin:0px 10px 0 0; 
  // padding:0 13px 7px; 
  // border-radius:0 0 15px 15px;
// }

#topbar #mc_embed_signup form {
  padding:0px 0px 0px 0px !important; 
  margin:0px 0px; 
  width:459px;
}


/* Sidebars */
body.sidebar-second {
  // #content {width:75%;}
  // #sidebar-second {width:25%;}
}


/* Footer Blocks */
#footer {
  .block {
    float:left;
    clear:none !important;
    margin:20px !important;
  }
    
  #block-search-form .content {
    padding:0;
  }

  .end {clear:both;}
}

