/* Universal Functions */
/* Layout */
/* Styles */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

body {
  background: #ffffff;
  color: #3b3b3b;
  font-family: Georgia, "Times New Roman", sans-serif; }

a {
  color: #0071B3; }
  a:hover {
    color: #018fe2; }

.sidebar ul, .sidebar ol {
  list-style-position: inside;
  padding-left: 0; }

#header {
  text-decoration: none;
  margin: 1em;
  background: #333333; }
  #header:hover {
    text-decoration: none; }
  #header a {
    text-decoration: none; }
    #header a:hover {
      text-decoration: none; }
  #header ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0; }
  @media (min-width: 0) {
    #header ul {
      display: none; }
    #header #site-name a {
      background: #333333 url(../images/mobile_menu.png) no-repeat 95% center; }
    #header.open {
      background: #333333; }
      #header.open ul {
        display: block; }
      #header.open a {
        color: #cccccc; }
      #header.open #site-name a {
        background: black url(../images/mobile_menu.png) no-repeat 95% center; } }
  @media (min-width: 1100px) {
    #header {
      background: none;
      min-width: 15em; }
      #header #site-name a {
        background: none; }
      #header:hover {
        background: #333333; }
        #header:hover ul {
          display: block; }
        #header:hover a {
          color: #cccccc; }
        #header:hover #site-name a {
          background: #333333 url(../images/mobile_menu.png) no-repeat 95% center; }
        #header:hover.open #site-name a {
          background: black url(../images/mobile_menu.png) no-repeat 95% center; } }
  #header a {
    display: block;
    padding: 0.5em 2em;
    color: #cccccc; }
    #header a:hover {
      background-color: #000000;
      color: #cccccc; }
  #header #site-name a {
    display: block;
    padding: 0.5em 2em; }
    #header #site-name a .text-logo {
      font-size: 1.5em; }
    #header #site-name a .text-text {
      display: none; }

#page {
  background: #ffffff; }

#comments h2.title {
  display: none; }
#comments form {
  margin-top: 3em; }
#comments .description {
  display: none; }
#comments .form-item-notify {
  margin-top: 2em; }
#comments .form-radios {
  margin-bottom: 2em; }

footer {
  font-size: 12px;
  color: white;
  background: #000000;
  padding: 20px; }
  footer:hover {
    color: white; }
  footer a {
    color: white; }
    footer a:hover {
      color: white; }

.tabs {
  margin: 0; }

hr {
  border: none;
  border-bottom: solid thin #eeeeee;
  margin: 10px 60px 10px 0px; }

#content img {
  max-width: 100%; }

#content .node .content img {
  float: left;
  clear: left;
  margin: 10px 20px 20px 0;
  max-width: 100%; }

#highlighted {
  background: white;
  color: #666666;
  margin: 0;
  padding: 0;
  border-bottom: none;
  font-size: 36px;
  width: 100%;
  max-height: 350px;
  overflow: hidden; }
  #highlighted div {
    padding: 0;
    margin: 0; }
  #highlighted img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; }

.sidebar {
  background: #fcfcfc; }
  .sidebar .block {
    border: none; }
  .sidebar#sidebar-second {
    background: #eeeeee; }

.sidebar #block-views-slideshow-block {
  margin: 0 0 10px;
  padding: 0;
  border: none; }

.content {
  font-size: 1.071em; }

.node .field-type-image {
  float: left;
  margin-right: 20px; }

@media (max-width: 560px) {
  .comment .attribution {
    display: block;
    width: auto; }
  .comment .comment-text {
    display: inline-block;
    width: auto; }
  .comment .comment-arrow {
    display: none; }

  .comment-form input, .comment-form .form-text, .comment-form .form-select,
  .one-sidebar .comment-form input,
  .one-sidebar .comment-form .form-text,
  .one-sidebar .comment-form .form-select {
    display: inline-block;
    width: auto;
    max-width: 100%; } }
