
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#header div.section {
  position: relative;
}
@media(min-width: 960px) {
  #page {
    padding-top: 3em;
  }
  #header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
body.page-node.node-type-article.no-sidebars #content {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}
#intro div.section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 700px;
  padding: 1em 15px;
}

#content .field-content img {
  width: 100%;
  height: auto;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}

@media(min-width:960px) {

  #page-wrapper {
    min-height: 100%;
    min-width: 960px;
  }
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  #main {
    width:800px;
    max-width: 800px;
  }

  #content,
  #sidebar-first,
  #sidebar-second,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    display: inline;
    float: left; /* LTR */
    position: relative;
  }
  .one-sidebar #content {
    width: 640px;
  }
  .two-sidebars #content {
    width: 480px;
  }
  .no-sidebars #content {
    width: 800px;
    float: none;
  }
  #sidebar-first,
  #sidebar-second {
    margin-left: 20px;
    width: 250px;
  }
  #sidebar-second .section {
    padding-top: 0;
  }
  #sidebar-second .section #block-block-26 {
    padding-top: 0;
  }
  #footer {
    width: 940px;
    min-width: 920px;
  }

  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last {
    margin: 20px 20px 30px;
    width: 280px;
  }
  #footer-wrapper {
    padding: 35px 5px 30px;
  }
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    padding: 0 10px;
    width: 220px;
  }

}

#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
