/* Universal Functions */
/* Layout */
/* Styles */
/* LAYOUT */
body {
  margin: 0;
  padding: 0; }

header {
  margin: 0 auto; }
  @media (min-width: 600px) {
    header {
      position: fixed;
      top: 0;
      left: 0; } }

nav.site-nav {
  margin: 0.5em 1em; }
  @media (min-width: 960px) {
    nav.site-nav {
      position: fixed;
      top: 0;
      right: 0; } }

#page {
  max-width: 600px;
  margin: 2em;
  background: none; }
  @media (min-width: 600px) {
    #page {
      margin: 4em auto; } }
  #page h1 {
    margin: 0;
    padding: 0; }
  #page h2 {
    margin: 0;
    padding: 0; }
  #page #page {
    background: none; }
    #page #page #main-wrapper #content h1 {
      margin-bottom: 20px; }

.sidebar .block {
  max-width: 600px;
  padding: 2em; }
  @media (min-width: 600px) {
    .sidebar .block {
      margin: 0em auto;
      padding: 2em 0; } }

footer {
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1;
  /* For modern browsers */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  padding: 0 20px; }
  footer:before, footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  footer:after {
    clear: both; }
  footer .internal {
    max-width: 600px;
    margin: 0 20px; }
    @media (min-width: 600px) {
      footer .internal {
        margin: 0 auto; } }

/* Internal Layout */
#main-wrapper #main {
  margin-top: 0; }
  #main-wrapper #main .sidebar .section {
    padding-top: 0; }

/* Footer Blocks */
footer .block, footer .google-plus {
  max-width: 600px;
  padding: 2em; }
  @media (min-width: 600px) {
    footer .block, footer .google-plus {
      margin: 0em auto;
      padding: 2em 0; } }
