/* Universal Functions */
/* Layout */
/* Styles */
/* LAYOUT */
body {
  margin: 0;
  padding: 0; }

header {
  margin: 0 0 0 1em;
  display: inline-block; }
  @media (min-width: 1100px) {
    header {
      position: fixed;
      top: 0;
      left: 0; } }

nav.site-nav {
  display: inline-block;
  margin: 0 2em 0 0; }
  nav.site-nav .block {
    float: none;
    margin: 0 0; }
    nav.site-nav .block li {
      display: inline-block;
      padding: 0 2em 0 0; }
      @media (min-width: 1100px) {
        nav.site-nav .block li {
          display: block; } }
  @media (min-width: 600px) {
    nav.site-nav {
      margin: 0.5em 1em; } }
  @media (min-width: 1100px) {
    nav.site-nav {
      position: fixed;
      top: 0;
      right: 0; } }

#page {
  max-width: 600px;
  margin: 2em;
  background: none; }
  @media (min-width: 600px) {
    #page {
      margin: 4em auto; } }
  #page h1 {
    margin: 0;
    padding: 0; }
  #page h2 {
    margin: 0;
    padding: 0; }
  #page #page {
    background: none; }
    #page #page #main-wrapper #content h1 {
      margin-bottom: 20px; }

.sidebar .block {
  max-width: 600px;
  padding: 2em;
  margin-bottom: 0; }
  @media (min-width: 600px) {
    .sidebar .block {
      margin: 0em auto;
      padding: 2em 0; } }

/* Footer Blocks */
footer .block, footer .google-plus {
  max-width: 600px;
  padding: 1em 2em; }
  @media (min-width: 600px) {
    footer .block, footer .google-plus {
      margin: 0em auto;
      padding: 1em 0; } }
