/* Universal Functions */
/* Layout */
/* Styles */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

body {
  background: #ffffff;
  color: #3b3b3b;
  font-family: Georgia, "Times New Roman", sans-serif; }

footer {
  font-size: 12px;
  color: white;
  background: #000000;
  padding: 20px; }
  footer:hover {
    color: white; }
  footer a {
    color: white; }
    footer a:hover {
      color: white; }

a {
  color: #0071B3; }
  a:hover {
    color: #018fe2; }

.sidebar ul, .sidebar ol {
  list-style-position: inside;
  padding-left: 0; }

header #site-info {
  color: #cccccc;
  text-decoration: none;
  font-style: normal; }
  header #site-info:hover {
    color: #cccccc; }
  header #site-info a {
    color: #cccccc; }
    header #site-info a:hover {
      color: #cccccc; }
  header #site-info:hover {
    text-decoration: none; }
  header #site-info a {
    text-decoration: none; }
    header #site-info a:hover {
      text-decoration: none; }
  header #site-info a {
    display: block;
    text-align: center;
    padding: 0.5em 1em; }

#site-name a .text-text {
  display: none; }
#site-name a:hover .text-logo {
  display: none; }
#site-name a:hover .text-text {
  display: inline-block; }

.region-header .block h2 {
  display: none; }

.tabs {
  margin: 0; }

hr {
  border: none;
  border-bottom: solid thin #eeeeee;
  margin: 10px 60px 10px 0px; }

#content img {
  max-width: 100%; }

#content .node .content img {
  float: left;
  clear: left;
  margin: 10px 20px 20px 0;
  max-width: 100%; }

#highlighted {
  background: #eeeeee;
  color: #666666;
  padding: 20px 20px;
  border-bottom: none;
  font-size: 36px; }
  #highlighted a {
    color: #999999; }
  #highlighted div, #highlighted p {
    margin: 0; }
  #highlighted .region {
    margin: 0 auto;
    padding: 0px 20px;
    text-align: center; }

.sidebar {
  background: #fcfcfc; }
  .sidebar .block {
    border: none; }

.sidebar #block-views-slideshow-block {
  margin: 0 0 10px;
  padding: 0;
  border: none; }

.content {
  font-size: 1.071em; }

.node .field-type-image {
  float: left;
  margin-right: 20px; }

@media (max-width: 560px) {
  .comment .attribution {
    display: inline-block;
    width: auto; }
  .comment .comment-text {
    display: inline-block;
    width: auto; }
  .comment .comment-arrow {
    display: none; }

  .comment-form input, .comment-form .form-text, .comment-form .form-select,
  .one-sidebar .comment-form input,
  .one-sidebar .comment-form .form-text,
  .one-sidebar .comment-form .form-select {
    display: inline-block;
    width: auto; } }
/* Styles */
.chimp-button {
  color: white;
  background-color: #aaaaaa;
  display: block;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  width: auto;
  height: 32px;
  clear: both;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 32px;
  vertical-align: top;
  white-space: nowrap; }
  .chimp-button:hover {
    color: white; }
  .chimp-button a {
    color: white; }
    .chimp-button a:hover {
      color: white; }
  .chimp-button:hover {
    text-decoration: none; }
  .chimp-button a {
    text-decoration: none; }
    .chimp-button a:hover {
      text-decoration: none; }
  .chimp-button:hover {
    background-color: #777777; }
