@import '_define';

/* LAYOUT */
body {
  margin:0;
  padding:0;
}
header {
  display: block;
  @media(min-width:1100px) {
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
  }
}
#header-image {
  max-height: 0;
  overflow: hidden;
  @media (min-height:300px) {
    max-height:200px;
  }
  @media (min-height:450px) {
    max-height:300px;
  }
  @media (min-height:600px) {
    max-height:400px;
  }
  @media (min-height:750px) {
    max-height:500px;
  }
  @media (min-height:900px) {
    max-height:600px;
  }
  @media (min-height:1050px) {
    max-height:700px;
  }
}

#header-image {
  img {
    width:100%;
    height:auto;
  }
}

#page {
  max-width:600px;
  margin:1em;
  @media(min-width:600px) {
    margin:4em auto;
  }

  background:none;
  h1 {
    margin:0;
    padding:0;
  }
  h2 {
    margin:0;
    padding:0;
  }
  #page {
    background:none;
    #main-wrapper {
      #content {
        h1 {
          // margin-top:40px;
          margin-bottom:20px;
          // margin-bottom:40px;
        }
      }
    }
  }
}
.sidebar {
  .block {
    max-width: 600px;
    padding:2em;
    margin-bottom: 0;
    @media(min-width:600px) {
      margin:0em auto;
      padding:2em 0;
    }
  }
}

/* Footer Blocks */
footer {
  .block, .google-plus {
    max-width: 600px;
    padding:1em 2em;
    @media(min-width:600px) {
      margin:0em auto;
      padding:1em 0;
    }
  }
}

