@import '_define';

/* LAYOUT */
body {
  margin:0; 
  padding:0;
}

header {
  margin:0 0 0 1em;  
  display: inline-block; 
  @media(min-width:1100px) {
    position: fixed;
    top:0;
    left:0;
  }
}
nav.site-nav {
  display: inline-block;
  margin:0 2em 0 0;
  .block {
    float:none;
    margin:0 0;
    li {
      display: inline-block;
      padding:0 2em 0 0;
      @media(min-width:1100px) {
        display: block;
      }
    }
  }
  @media(min-width:600px) {
    margin:0.5em 1em;
  }
  @media(min-width:1100px) {
    position: fixed;
    top:0;
    right:0;
  }
}

#page {
  max-width:600px;
  margin:2em;
  @media(min-width:600px) {
    margin:4em auto; 
  }

  background:none;
  h1 {
    margin:0;
    padding:0;
  }
  h2 {
    margin:0;
    padding:0;
  }  
  #page {
    background:none;
    #main-wrapper {
      #content {
        h1 {
          // margin-top:40px;
          margin-bottom:20px;
          // margin-bottom:40px;
        }
      }
    }
  }
}
.sidebar {
  .block {
    max-width: 600px;
    padding:2em;
    margin-bottom: 0;
    @media(min-width:600px) {
      margin:0em auto; 
      padding:2em 0;
    }
  }
}

/* Footer Blocks */
footer {
  .block, .google-plus {
    max-width: 600px;
    padding:1em 2em;
    @media(min-width:600px) {
      margin:0em auto; 
      padding:1em 0;
    }
  }
}

