@import '_define';

/* LAYOUT */
body {
  margin:0; 
  padding:0;
}

header {
  margin:0 auto;   
  @media(min-width:600px) {
    position: fixed;
    top:0;
    left:0;
  }
}
nav.site-nav {
  margin:0.5em 1em;
  @media(min-width:960px) {
    position: fixed;
    top:0;
    right:0;
  }
}

#page {
  max-width:600px;
  margin:2em;
  @media(min-width:600px) {
    margin:4em auto; 
  }

  background:none;
  h1 {
    margin:0;
    padding:0;
  }
  h2 {
    margin:0;
    padding:0;
  }  
  #page {
    background:none;
    #main-wrapper {
      #content {
        h1 {
          // margin-top:40px;
          margin-bottom:20px;
          // margin-bottom:40px;
        }
      }
    }
  }
}
.sidebar {
  .block {
    max-width: 600px;
    padding:2em;
    @media(min-width:600px) {
      margin:0em auto; 
      padding:2em 0;
    }
  }
}
footer {
  @include clearfix;
  @include border-box;
  padding:0 20px;

  .internal {
    @include Fluid;
  }
}

/* Internal Layout */
#main-wrapper {
  #main {
    margin-top:0;

    .sidebar {
      .section {
        padding-top:0;
      }
    }

  }
}

/* Footer Blocks */
footer {
  .block, .google-plus {
    max-width: 600px;
    padding:2em;
    @media(min-width:600px) {
      margin:0em auto; 
      padding:2em 0;
    }
  }
}

