
/* MAILCHIMP */
#sidebar-second #mc_embed_signup {
  clear:left;
  @include Body; 
  @include SanSerif; 
  padding:0 !important; 
  margin-bottom:30px;
  
  form {padding:0 !important;}
}


a.chimp-button,
.chimp-button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; 
    display: block; 
    font-size:15px; 
    font-weight: bold; 
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    height: 32px; 
    line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}

a.chimp-button:hover,
.chimp-button:hover {background-color:#777777;}



#topbar #mc_embed_signup form {
  
  label {
    display:inline-block; 
    margin-right:10px; 
    color:$downGrey;
    margin-top:1px;
  }
  
  div {
    display:inline-block; 
    width:180px;
    width:100px !important; 
    float:right;
  }

  div input.button {
    width:100px !important; 
    margin-bottom:0px; 
    vertical-align:middle;
    margin-top:1px; 
    display:inline-block; 
    width:180px;
  }

  input.email {
    display:inline-block;  
    width:170px !important; 
    margin-bottom:0px; 
    margin-right:0px;
  }
  
}