@import '_define';

* {
  @include border-box;  
}
body {  
  background:#ffffff;
  color:#3b3b3b;
  @include Serif;     
}
footer {
  @include Body;
  @include colordrill(#ffffff);
  background: #000000;
  padding:20px; 
}

a {
  color:#0071B3;
  &:hover {
    color:#018fe2;
  }
}

header {
  #site-info {
    @include colordrill(#ccc);
    @include text-decoration-none;
    font-style: normal; 

    a {
      display:block;
      text-align: center;
      padding:0.5em 1em; 
    }  
  }
}

.region-header {
  .block {
    h2 {
      display: none;
    }
  }
}

.tabs {
  margin:0;
}
hr {
  border:none; 
  border-bottom:solid thin $downWhite; 
  margin:10px 60px 10px 0px;
}

#content img {
  max-width:100%;
}

#content .node .content img {
  float:left;
  clear:left;
  margin:10px 20px 20px 0;
  max-width:100%;
}

#highlighted {
  background:$downWhite; 
  color:$downGrey; 
  padding:20px 20px; 
  border-bottom:none; 
  font-size:36px;
  a { color:$midGrey; }
  div, p {margin:0;}
  .region {
    @include Center; 
    padding:0px 20px; 
    text-align: center;
  }
}

.sidebar {
  background:#fcfcfc;
  .block {
    border:none;
  }
}

.sidebar #block-views-slideshow-block {
  margin:0 0 10px; 
  padding:0; 
  border:none;
}

.content {font-size:1.071em;}

.node .field-type-image {
  float:left; 
  margin-right:20px;
}

@media (max-width:560px) {
  .comment {
    .attribution {
      display: inline-block;
      width:auto;

    }
    .comment-text {
      display: inline-block;
      width:auto;
    }
    .comment-arrow {
      display: none;
    }
  } 
  .comment-form,
  .one-sidebar .comment-form {    
    input, .form-text, .form-select {
      display:inline-block;
      width:auto;
    }
  }
}


/* Styles */
.chimp-button {
  @include button;
}