/* LAYOUT */
body {
  margin: 0;
  padding: 0; }

#topbar {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

#page-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

#footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

#main-wrapper {
  margin: 0 auto;
  max-width: 960px; }

/* Topbar blocks */
#topbar #block-mrblocks-site-title {
  padding: 0 0; }

#topbar #mc_embed_signup form {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px;
  width: 459px; }

/* Sidebars */
/* Footer Blocks */
#footer .block-views {
  width: 100%;
  margin-right: 10px;
  float: left;
  clear: none; }
#footer #block-search-form {
  float: left;
  clear: right; }
#footer .end {
  clear: both; }
