/* HEADER */
#header {
  margin: 0;
  padding: 0;
  background: none; }

#page {
  background: none; }

#page-wrapper {
  background: none; }

#topbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px; }
  #topbar a {
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px; }
  #topbar .region,
  #topbar .region a {
    color: black;
    font-size: 18px; }
  #topbar .block {
    float: left;
    margin-right: 20px; }
  #topbar #name-and-slogan {
    float: left;
    padding: 15px 20px;
    margin: 0 20px 0px 10px;
    background: #333333;
    background: #666666;
    font-style: normal;
    text-transform: lowercase;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px; }
    #topbar #name-and-slogan #site-name,
    #topbar #name-and-slogan #site-name strong,
    #topbar #name-and-slogan #site-name strong a,
    #topbar #name-and-slogan #site-slogan {
      font-style: normal;
      text-transform: lowercase;
      color: white;
      text-decoration: none;
      font-family: Arial, sans-serif;
      font-size: 18px; }
  #topbar #navigation a {
    color: black;
    font-size: 18px; }
    #topbar #navigation a:hover {
      color: #999999; }

.toolbar #topbar {
  top: 65px; }

body {
  background: white; }

body.theology #header {
  margin-top: 80px; }

body.front #header {
  margin-top: 30px; }

body.life #header {
  margin-top: 80px; }

hr {
  border: none;
  border-bottom: solid thin #eeeeee;
  margin: 10px 60px 10px 0px; }

#header {
  margin-top: 80px;
  margin-bottom: 20px; }
  #header h1.section {
    font-size: 78px;
    font-family: Georgia, "Times New Roman", sans-serif;
    line-height: 1em;
    text-transform: none; }
  #header h1.section a {
    color: black;
    text-decoration: none; }
  #header .region-header .block {
    float: none; }
  #header .section {
    margin: 0; }

#header > .section {
  margin: 0 auto;
  width: 960px; }

#highlighted {
  background: #eeeeee;
  color: #666666;
  padding: 20px 20px;
  border-bottom: none;
  font-size: 36px; }
  #highlighted a {
    color: #999999; }
  #highlighted div, #highlighted p {
    margin: 0; }
  #highlighted .region {
    margin: 0 auto;
    width: 960px;
    padding: 0px 20px;
    text-align: center; }

/* LAYOUT */
body {
  margin: 0;
  padding: 0; }

body.sidebar-second #content {
  width: 75%; }
body.sidebar-second #sidebar-second {
  width: 25%; }

#main-wrapper {
  margin: 0 auto;
  max-width: 960px; }

.sidebar #block-views-slideshow-block {
  margin: 0 0 10px;
  padding: 0;
  border: none; }

.content {
  font-size: 1.071em; }

/* BLOCKS */
#content .block-block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px; }

#content .block-block h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.2; }

#content .block-block .content {
  line-height: 1.4; }

#content .block-block {
  background-color: #f6f6f2;
  border-color: #f9f9f9; }

#block-block-24 {
  background: none; }

#block-block-22 .content a {
  margin-right: 40px;
  display: block;
  float: left; }

.not-front #content #block-block-9 {
  background: none;
  border: none;
  padding: 0px; }

.blockinset {
  background: #eeeeee;
  margin: 20px 0px;
  padding: 20px 20px 10px; }

.node .field-type-image {
  float: left;
  margin-right: 20px; }

#topbar {
  width: 100%; }

#topbar #block-block-15 {
  float: left; }

#topbar #block-block-16,
#topbar #block-block-17 {
  float: right;
  margin: 0px 10px 0 0;
  padding: 0 13px 7px;
  border-radius: 0 0 15px 15px; }

#topbar #mc_embed_signup form {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px;
  width: 459px; }
  #topbar #mc_embed_signup form label {
    display: inline-block;
    margin-right: 10px;
    color: #666666;
    margin-top: 1px; }
  #topbar #mc_embed_signup form div {
    display: inline-block;
    width: 180px;
    width: 100px !important;
    float: right; }
  #topbar #mc_embed_signup form div input.button {
    width: 100px !important;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-top: 1px;
    display: inline-block;
    width: 180px; }
  #topbar #mc_embed_signup form input.email {
    display: inline-block;
    width: 170px !important;
    margin-bottom: 0px;
    margin-right: 0px; }

#main #content > .section {
  margin-right: 30px; }

/* MAILCHIMP */
#sidebar-second #mc_embed_signup {
  clear: left;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 0 !important;
  margin-bottom: 30px; }
  #sidebar-second #mc_embed_signup form {
    padding: 0 !important; }

#footer {
  font-size: 12px;
  background: black;
  padding: 20px;
  color: white; }
  #footer a {
    color: white; }
  #footer .section {
    margin: 0 auto;
    width: 960px; }
  #footer .block-views {
    width: 23%;
    margin-right: 10px;
    float: left;
    clear: none; }
  #footer #block-search-form {
    float: left;
    width: 23%;
    clear: right; }
  #footer #block-views-list-of-taxonomy-block-1 {
    width: 12%; }
  #footer #block-views-list-of-taxonomy-block-2 {
    width: 30%; }
  #footer .end {
    clear: both; }

/* defunct */
.view-frontpage .views-row {
  margin-bottom: 15px; }
  .view-frontpage .views-row .views-field-body {
    font-style: italic; }

a.chimp-button,
.chimp-button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

a.chimp-button:hover,
.chimp-button:hover {
  background-color: #777777; }
