/* HEADER */
#header {
  margin: 0;
  padding: 0;
  background: none; }

#page {
  background: none; }

#page-wrapper {
  background: none; }

#topbar {
  min-height: 70px; }
  #topbar a {
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px; }
  #topbar .region,
  #topbar .region a {
    color: black;
    font-size: 18px; }
  #topbar #site-name {
    padding: 15px 20px;
    margin: 0px;
    background: #333333;
    background: #666666;
    font-style: normal;
    text-transform: lowercase;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px; }
  #topbar #site-name,
  #topbar #site-name strong,
  #topbar #site-name strong a,
  #topbar #site-slogan {
    font-style: normal;
    text-transform: lowercase;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px; }
  #topbar #navigation a {
    color: black;
    font-size: 18px; }
    #topbar #navigation a:hover {
      color: #999999; }

.toolbar #topbar {
  top: 65px; }

body {
  background: white; }

body.theology #header {
  margin-top: 80px; }

body.front #header {
  margin-top: 30px; }

body.life #header {
  margin-top: 80px; }

hr {
  border: none;
  border-bottom: solid thin #eeeeee;
  margin: 10px 60px 10px 0px; }

#header img {
  width: 100%; }

#content img {
  max-width: 100%; }

#header {
  margin-bottom: 20px; }
  #header h1.section {
    font-size: 78px;
    font-family: Georgia, "Times New Roman", sans-serif;
    line-height: 1em;
    text-transform: none; }
  #header h1.section a {
    color: black;
    text-decoration: none; }
  #header .region-header .block {
    float: none;
    margin: 0 0; }
  #header .section {
    margin: 0; }

#header > .section {
  margin: 0 auto; }

#highlighted {
  background: #eeeeee;
  color: #666666;
  padding: 20px 20px;
  border-bottom: none;
  font-size: 36px; }
  #highlighted a {
    color: #999999; }
  #highlighted div, #highlighted p {
    margin: 0; }
  #highlighted .region {
    margin: 0 auto;
    padding: 0px 20px;
    text-align: center; }

.sidebar #block-views-slideshow-block {
  margin: 0 0 10px;
  padding: 0;
  border: none; }

.content {
  font-size: 1.071em; }

/* BLOCKS */
#content .block-block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px; }

#content .block-block h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.2; }

#content .block-block .content {
  line-height: 1.4; }

#content .block-block {
  background-color: #f6f6f2;
  border-color: #f9f9f9; }

#block-block-24 {
  background: none; }

#block-block-22 .content a {
  margin-right: 40px;
  display: block; }

.not-front #content #block-block-9 {
  background: none;
  border: none;
  padding: 0px; }

.blockinset {
  background: #eeeeee;
  margin: 20px 0px;
  padding: 20px 20px 10px; }

.node .field-type-image {
  float: left;
  margin-right: 20px; }

#topbar #mc_embed_signup form label {
  display: inline-block;
  margin-right: 10px;
  color: #666666;
  margin-top: 1px; }
#topbar #mc_embed_signup form div {
  display: inline-block;
  width: 180px;
  width: 100px !important;
  float: right; }
#topbar #mc_embed_signup form div input.button {
  width: 100px !important;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-top: 1px;
  display: inline-block;
  width: 180px; }
#topbar #mc_embed_signup form input.email {
  display: inline-block;
  width: 170px !important;
  margin-bottom: 0px;
  margin-right: 0px; }

/* MAILCHIMP */
#sidebar-second #mc_embed_signup {
  clear: left;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 0 !important;
  margin-bottom: 30px; }
  #sidebar-second #mc_embed_signup form {
    padding: 0 !important; }

#footer {
  font-size: 12px;
  background: black;
  padding: 20px;
  color: white; }
  #footer a {
    color: white; }
  #footer .section {
    margin: 0 auto; }

a.chimp-button,
.chimp-button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

a.chimp-button:hover,
.chimp-button:hover {
  background-color: #777777; }
